In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_data=pd.read_csv('/Users/sahatprasad/Documents/csv files/untitled folder/BHU/train_NIR5Yl1.csv')

In [3]:
train_data.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [4]:
train_data.shape

(330045, 7)

In [7]:
train_data.apply(lambda x: sum(x.isnull()))

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
Upvotes       0
dtype: int64

In [12]:
train_data['Tag'] =pd.get_dummies(train_data['Tag'])
train_data['Tag'].head()

0    0
1    0
2    1
3    0
4    1
Name: Tag, dtype: uint8

In [13]:
train_data['Tag']=train_data['Tag'].astype(int)

In [14]:
train_data.corr()

,ID,Tag,Reputation,Answers,Username,Views,Upvotes
ID,1.000000,-0.009204,0.008546,0.017448,0.000628,0.017400,0.006328
Tag,-0.009204,1.000000,0.020571,-0.031097,-0.000354,-0.008680,0.001909
Reputation,0.008546,0.020571,1.000000,0.066504,-0.041019,0.036455,0.266710
Answers,0.017448,-0.031097,0.066504,1.000000,-0.012197,0.498642,0.202033
Username,0.000628,-0.000354,-0.041019,-0.012197,1.000000,0.002306,-0.011970
Views,0.017400,-0.008680,0.036455,0.498642,0.002306,1.000000,0.437336
Upvotes,0.006328,0.001909,0.266710,0.202033,-0.011970,0.437336,1.000000

In [15]:
train_data['Tag'].dtype

dtype('int64')

In [18]:
X_train=train_data.drop('Upvotes', axis=1)
y_train=train_data.Upvotes

In [20]:
test_data=pd.read_csv('/Users/sahatprasad/Documents/csv files/untitled folder/BHU/test_8i3B3FC.csv')

In [21]:
test_data.head()

       ID Tag  Reputation  Answers  Username    Views
0  366953   a      5645.0      3.0     50652  33200.0
1   71864   c     24511.0      6.0     37685   2730.0
2  141692   i       927.0      1.0    135293  21167.0
3  316833   i        21.0      6.0    166998  18528.0
4  440445   i      4475.0     10.0     53504  57240.0

In [22]:
test_data['Tag'] =pd.get_dummies(test_data['Tag'])
test_data['Tag']=test_data['Tag'].astype(int)

In [23]:
X_test=test_data

In [26]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(X_train,y_train)
y_predict=lm.predict(X_test)

In [29]:
test_data.drop(['Tag','Reputation','Answers','Username','Views'],axis=1,inplace=True)

In [30]:
test_data['UPvote'] = y_predict

In [32]:
test_data.to_csv('/Users/sahatprasad/Documents/csv files/untitled folder/BHU/LinearRegression.csv',index=False)